<form id="payment_form" name="payment" action="https://www.interkassa.com/lib/payment.php" method="post"
      enctype="application/x-www-form-urlencoded" accept-charset="cp1251">
    <input type="hidden" name="ik_shop_id" value="{{ payment.shopId }}">
    <input type="hidden" name="ik_payment_amount" value="{{ payment.amount }}">
    <input type="hidden" name="ik_payment_id" value="{{ payment.id }}">
    <input type="hidden" name="ik_payment_desc" value="{{ payment.description }}">
    <input type="submit" name="process" value="Оплатить">
</form>
<script>document.payment.submit();</script>
